body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;

    h1{
        text-align:center; color:black;
        font-size:50px;
        color:WHITE;
        border: 2px solid #b1dbd1;
        border-radius: 5px;
        background-color: rgba(177, 219, 209,0.85);
    }

    background-image: url("images/bgimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.topbanner{
    background-color: rgba(29, 59, 95, 0.80);
    text-align: center;
    font-size: 60px;
    line-height: 0.1;
    h1{
        font-size: 100px;
        color:white;
        background-color: rgba(177, 219, 209,0);
        border:none;
    }
    width:100%;
    padding: 1px 0;
}
.container{

    display:flex;
    padding:1px;
    gap:10px;



    p{
        font-size:25px;
    }
}

.container:after {
    content: "";
    display: table;
    clear: both;

}

.Column{
    float:center;

    border: 2px solid #69a1ae;
    border-radius: 5px;
    width: 75%;
    background-color:rgba(105,161,174,0.75);
    text-align: center;


}

.picbox{
    margin:0 auto;

    border: 5px solid black;
    border-radius: 5px;;
    width: 12%;
    height:auto;
    text-align: center;

}
.picbox img {
    width: 100%;
    height: auto;
    display: block;
}
